mixin checkbox(item)  
  - var isChecked = item.checked ? "checked" : ""
  
  <label  for="#{item.name}" class="checkbox #{attributes.class}" >
    <input type="checkbox" class="checkbox__control" id="#{item.name}" name="#{item.name}" value="true" #{isChecked}>  
    <span class="checkbox__box"></span>
    <span class="checkbox__title" role="presentation" >#{item.text}</span>
  </label>