mixin field(options)
  <div class="field #{attributes.class}">
    <input type="#{options.type}" id="#{options.id}" name="#{options.id}" class="field__input" placeholder="#{options.placeholder}" >    
  </div>