mixin field(options)
  <div class="field #{attributes.class}">
    <label for="#{options.id}">
      <h3 class="field__title">#{options.label}</h3>
    </label>
    <input type="#{options.type}" id="#{options.id}" name="#{options.id}" class="field__input" placeholder="#{options.placeholder}" >    
  </div>